# Python Sets

* Set Items: Set items are unordered, unchangeable, and do not allow duplicate values.
* Unordered: Unordered means that the items in a set do not have a defined order. Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
* Unchangeable: Set items are unchangeable, meaning that we cannot change the items after the set has been created.
* Once a set is created, you cannot change its items, but you can remove items and add new items.

In [1]:
# Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [2]:
# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [3]:
#True and 1 is considered the same value:

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'banana', True, 2, 'apple', 'cherry'}

In [4]:
# False and 0 is considered the same value:

thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{'banana', False, True, 'apple', 'cherry'}

In [5]:
# Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [6]:
# String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [7]:
# String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [8]:
# What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [9]:
# Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

#  Access Set Items

* You cannot access items in a set by referring to an index or a key.
* But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [10]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [11]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [12]:
# Check if "banana" is NOT present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

# Add Set Items

* Once a set is created, you cannot change its items, but you can add new items.

In [13]:
# Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'apple', 'orange'}

In [14]:
# Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'papaya', 'mango', 'apple', 'pineapple', 'cherry'}

In [15]:
# Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'kiwi', 'apple', 'cherry'}

# Remove Set Items

In [16]:
# Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

**Note:** If the item to remove does not exist, discard() will NOT raise an error.

In [17]:
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

* You can also use the pop() method to remove an item, but this method will remove a **random item**, so you cannot be sure what item that gets removed.
* The return value of the pop() method is the removed item.

In [18]:
# Remove a random item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [19]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [20]:
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset) #this will raise an error because the set no longer exists

NameError: name 'thisset' is not defined

# Loop Sets

In [21]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

# Join Sets

* There are several ways to join two or more sets in Python.
* The union() and update() methods joins all items from both sets.
* The intersection() method keeps ONLY the duplicates.
* The difference() method keeps the items from the first set that are not in the other set(s).
* The symmetric_difference() method keeps all items EXCEPT the duplicates.

**union method**
* The union() method returns a new set with all items from both sets.

In [22]:
# Join set1 and set2 into a new set:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 'a', 3, 'c'}

You can use the | operator instead of the union() method, and you will get the same result.

In [23]:
# Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 'b', 2, 'a', 3, 'c'}

In [24]:
# Join multiple sets with the union() method:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'a', 'John', 'Elena', 'b', 'bananas', 'apple', 'cherry', 'c'}

In [25]:
# Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'a', 'John', 'Elena', 'b', 'bananas', 'apple', 'cherry', 'c'}

**Join a Set and a Tuple**
* The union() method allows you to join a set with other data types, like lists or tuples. The result will be a set.

In [26]:
# Join a set with a tuple:

x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

**Note:** The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

**update method**

In [27]:
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'b', 2, 'a', 3, 'c'}

**Note:** Both union() and update() will exclude any duplicate items.

**intersection method**
* Keep ONLY the duplicates
* The intersection() method will return a new set, that only contains the items that are present in both sets.

In [28]:
# Join set1 and set2, but keep only the duplicates:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

You can use the & operator instead of the intersection() method, and you will get the same result.

In [29]:
# Use & to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

**Note:** The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [30]:
# Keep the items that exist in both set1, and set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [31]:
# Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

**difference method**
* The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [32]:
# Keep all items from set1 that are not in set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

You can use the - operator instead of the difference() method, and you will get the same result.

In [33]:
# Use - to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

**Note:** The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

**difference_update method**
* The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [34]:
# Use the difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

**symmetric differences**
* The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [35]:
# Keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'google', 'microsoft', 'cherry'}

You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

In [36]:
# Use ^ to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'google', 'microsoft', 'cherry'}

**Note:** The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

**symmetric_difference_update method**
* The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [37]:
# Use the symmetric_difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'google', 'microsoft', 'cherry'}